<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %level, %date{ISO8601}, %thread, %logger{36}, %message\n
            </pattern>
        </encoder>
    </appender>

    <appender name="AMQP"
              class="org.springframework.amqp.rabbit.logback.AmqpAppender">
        <layout>
            <pattern>
                %level, %date{ISO8601}, %thread, %logger{36}, %message
            </pattern>
        </layout>

        <!-- RabbitMQ connection -->
        <!--<host>10.23.9.122</host>-->
        <host>rabbitmq</host>
        <port>5672</port>
        <username>guest</username>
        <password>guest</password>

        <applicationId>api-service-4</applicationId>
        <routingKeyPattern>api-service-4</routingKeyPattern>
        <declareExchange>true</declareExchange>
        <exchangeType>direct</exchangeType>
        <exchangeName>ex_logstash</exchangeName>

        <generateId>true</generateId>
        <charset>UTF-8</charset>
        <durable>true</durable>
        <deliveryMode>PERSISTENT</deliveryMode>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="AMQP" />
    </root>

</configuration>